# =====================================
# Frontend
# =====================================

NODE_ENV=development

NEXT_PUBLIC_APP_NAME=Editly

# =====================================
# Backend API
# =====================================

NEXT_PUBLIC_API_URL=http://localhost:8000/api

# =====================================
# WebSocket
# =====================================

NEXT_PUBLIC_WS_URL=ws://localhost:1234/ws